.btn {
  font-family: "Merienda", cursive;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px 42px;
  transition: all 0.25s ease-in-out;
  color: white;
}

.btn:hover {
  color: black;
  background-color: white;
}
