.logo {
  position: relative;
  width: 30px;
  height: 30px;
}

.logo::before,
.logo::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 60px;
  height: 1px;
  background-color: white;
}

.white,
.white::after,
.white::before {
  filter: none;
}

.black,
.black::after,
.black::before {
  filter: brightness(0%) contrast(100%);
}

.logo::before {
  left: -85px;
}

.logo::after {
  right: -85px;
}
